:root{
    --cor-fundo: #F0F8FF;
    --cor-principal: #000000;
    --cor-secundaria: #F5DEB3;
    --cor-destaque: #FF0000;
    --cor-texto: #000000;
}
boody{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-itens: center;
    justify-content: center;
    min-height: 100vh;
}